In [90]:
import pandas as pd 
import numpy as np

In [91]:
# Import all orders over 50 contracts on Pelton from today prior to earnings 

df = pd.read_csv(r'C:\Users\Luke\Desktop\random\pton_option.csv')
df

,Time,Option,Qty,Price,Exchange,Market,Delta,IV,Underlying,Condition
0,10:33:01,3 SEP 21 100 P,845,1.00,BEST,1.00x1.04,-0.12,95.23%,117.360,NaN
1,11:14:17,17 SEP 21 80 P,650,0.33,AMEX,.28x.33,-0.03,88.17%,116.955,NaN
2,9:36:12,3 SEP 21 95 P,625,0.59,NYSE,.50x.59,-0.07,101.79%,117.570,Spread
3,9:36:12,3 SEP 21 110 P,625,2.91,NYSE,2.74x2.94,-0.28,87.84%,117.570,Spread
4,13:44:29,27 AUG 21 117 C,588,3.60,BEST,3.45x3.65,0.43,192.54%,114.380,Spread
...,...,...,...,...,...,...,...,...,...,...
392,9:11:20,20 JAN 23 250 C,50,6.55,BOX,6.25x6.55,0.21,52.08%,118.225,NaN
393,9:00:02,15 OCT 21 80 P,50,0.73,BEST,.67x.78,-0.05,70.68%,118.090,NaN
394,8:45:55,18 MAR 22 150 C,50,10.70,BOX,10.50x10.70,0.39,54.55%,119.940,NaN
395,8:45:55,18 MAR 22 150 C,50,10.70,BOX,10.50x10.70,0.39,54.55%,119.940,NaN
396,8:45:35,18 MAR 22 150 C,50,10.47,PHLX,10.45x10.50,0.38,53.88%,119.940,NaN

In [92]:
# Make a column that shows the monetary value of each trade 

df['value'] = df['Qty'] * (df['Price'] * 100)
df

,Time,Option,Qty,Price,Exchange,Market,Delta,IV,Underlying,Condition,value
0,10:33:01,3 SEP 21 100 P,845,1.00,BEST,1.00x1.04,-0.12,95.23%,117.360,NaN,84500.0
1,11:14:17,17 SEP 21 80 P,650,0.33,AMEX,.28x.33,-0.03,88.17%,116.955,NaN,21450.0
2,9:36:12,3 SEP 21 95 P,625,0.59,NYSE,.50x.59,-0.07,101.79%,117.570,Spread,36875.0
3,9:36:12,3 SEP 21 110 P,625,2.91,NYSE,2.74x2.94,-0.28,87.84%,117.570,Spread,181875.0
4,13:44:29,27 AUG 21 117 C,588,3.60,BEST,3.45x3.65,0.43,192.54%,114.380,Spread,211680.0
...,...,...,...,...,...,...,...,...,...,...,...
392,9:11:20,20 JAN 23 250 C,50,6.55,BOX,6.25x6.55,0.21,52.08%,118.225,NaN,32750.0
393,9:00:02,15 OCT 21 80 P,50,0.73,BEST,.67x.78,-0.05,70.68%,118.090,NaN,3650.0
394,8:45:55,18 MAR 22 150 C,50,10.70,BOX,10.50x10.70,0.39,54.55%,119.940,NaN,53500.0
395,8:45:55,18 MAR 22 150 C,50,10.70,BOX,10.50x10.70,0.39,54.55%,119.940,NaN,53500.0
396,8:45:35,18 MAR 22 150 C,50,10.47,PHLX,10.45x10.50,0.38,53.88%,119.940,NaN,52350.0

In [93]:
# Categorize whether the option is a call or put by indexing for the last character in the option column 

calls = df[df['Option'].str.endswith('C')]
puts = df[df['Option'].str.endswith('P')]

In [94]:
# Seperate the market column into two seperate columns being bid and ask 

df[['Bid','Ask']] = df['Market'].str.split('x', expand=True)

In [95]:
# Convert the bid and ask columns into floats 

df['Bid']=pd.to_numeric(df.Bid)
df['Ask']=pd.to_numeric(df.Ask)

In [96]:
df

,Time,Option,Qty,Price,Exchange,Market,Delta,IV,Underlying,Condition,value,Bid,Ask
0,10:33:01,3 SEP 21 100 P,845,1.00,BEST,1.00x1.04,-0.12,95.23%,117.360,NaN,84500.0,1.00,1.04
1,11:14:17,17 SEP 21 80 P,650,0.33,AMEX,.28x.33,-0.03,88.17%,116.955,NaN,21450.0,0.28,0.33
2,9:36:12,3 SEP 21 95 P,625,0.59,NYSE,.50x.59,-0.07,101.79%,117.570,Spread,36875.0,0.50,0.59
3,9:36:12,3 SEP 21 110 P,625,2.91,NYSE,2.74x2.94,-0.28,87.84%,117.570,Spread,181875.0,2.74,2.94
4,13:44:29,27 AUG 21 117 C,588,3.60,BEST,3.45x3.65,0.43,192.54%,114.380,Spread,211680.0,3.45,3.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,9:11:20,20 JAN 23 250 C,50,6.55,BOX,6.25x6.55,0.21,52.08%,118.225,NaN,32750.0,6.25,6.55
393,9:00:02,15 OCT 21 80 P,50,0.73,BEST,.67x.78,-0.05,70.68%,118.090,NaN,3650.0,0.67,0.78
394,8:45:55,18 MAR 22 150 C,50,10.70,BOX,10.50x10.70,0.39,54.55%,119.940,NaN,53500.0,10.50,10.70
395,8:45:55,18 MAR 22 150 C,50,10.70,BOX,10.50x10.70,0.39,54.55%,119.940,NaN,53500.0,10.50,10.70
396,8:45:35,18 MAR 22 150 C,50,10.47,PHLX,10.45x10.50,0.38,53.88%,119.940,NaN,52350.0,10.45,10.50

In [97]:
# Seperate the trades that were not traded on the bid. We are making the assumption that any midprice and orders on the ask are buy orders 

df['Trade away from Bid'] = np.where(df.Price == df.Bid, 'False', 'True')

In [98]:
# Count how many buy orders we have 

df['Trade away from Bid'].value_counts()

True     301
False     96
Name: Trade away from Bid, dtype: int64

In [99]:
# Make a new column that displays whether the option traded was a call or put 

df['Type'] = np.where(df['Option'].str.endswith('C'), 'Call', 'Put')
df

,Time,Option,Qty,Price,Exchange,Market,Delta,IV,Underlying,Condition,value,Bid,Ask,Trade away from Bid,Type
0,10:33:01,3 SEP 21 100 P,845,1.00,BEST,1.00x1.04,-0.12,95.23%,117.360,NaN,84500.0,1.00,1.04,False,Put
1,11:14:17,17 SEP 21 80 P,650,0.33,AMEX,.28x.33,-0.03,88.17%,116.955,NaN,21450.0,0.28,0.33,True,Put
2,9:36:12,3 SEP 21 95 P,625,0.59,NYSE,.50x.59,-0.07,101.79%,117.570,Spread,36875.0,0.50,0.59,True,Put
3,9:36:12,3 SEP 21 110 P,625,2.91,NYSE,2.74x2.94,-0.28,87.84%,117.570,Spread,181875.0,2.74,2.94,True,Put
4,13:44:29,27 AUG 21 117 C,588,3.60,BEST,3.45x3.65,0.43,192.54%,114.380,Spread,211680.0,3.45,3.65,True,Call
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,9:11:20,20 JAN 23 250 C,50,6.55,BOX,6.25x6.55,0.21,52.08%,118.225,NaN,32750.0,6.25,6.55,True,Call
393,9:00:02,15 OCT 21 80 P,50,0.73,BEST,.67x.78,-0.05,70.68%,118.090,NaN,3650.0,0.67,0.78,True,Put
394,8:45:55,18 MAR 22 150 C,50,10.70,BOX,10.50x10.70,0.39,54.55%,119.940,NaN,53500.0,10.50,10.70,True,Call
395,8:45:55,18 MAR 22 150 C,50,10.70,BOX,10.50x10.70,0.39,54.55%,119.940,NaN,53500.0,10.50,10.70,True,Call
396,8:45:35,18 MAR 22 150 C,50,10.47,PHLX,10.45x10.50,0.38,53.88%,119.940,NaN,52350.0,10.45,10.50,True,Call

In [100]:
# Drop all orders that were traded on the bid 

df = df[df["Trade away from Bid"].str.contains("False")==False]
df

,Time,Option,Qty,Price,Exchange,Market,Delta,IV,Underlying,Condition,value,Bid,Ask,Trade away from Bid,Type
1,11:14:17,17 SEP 21 80 P,650,0.33,AMEX,.28x.33,-0.03,88.17%,116.955,NaN,21450.0,0.28,0.33,True,Put
2,9:36:12,3 SEP 21 95 P,625,0.59,NYSE,.50x.59,-0.07,101.79%,117.570,Spread,36875.0,0.50,0.59,True,Put
3,9:36:12,3 SEP 21 110 P,625,2.91,NYSE,2.74x2.94,-0.28,87.84%,117.570,Spread,181875.0,2.74,2.94,True,Put
4,13:44:29,27 AUG 21 117 C,588,3.60,BEST,3.45x3.65,0.43,192.54%,114.380,Spread,211680.0,3.45,3.65,True,Call
5,13:44:29,27 AUG 21 105 P,490,1.74,BEST,1.70x1.74,-0.21,217.34%,114.380,Spread,85260.0,1.70,1.74,True,Put
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,9:11:20,20 JAN 23 250 C,50,6.55,BOX,6.25x6.55,0.21,52.08%,118.225,NaN,32750.0,6.25,6.55,True,Call
393,9:00:02,15 OCT 21 80 P,50,0.73,BEST,.67x.78,-0.05,70.68%,118.090,NaN,3650.0,0.67,0.78,True,Put
394,8:45:55,18 MAR 22 150 C,50,10.70,BOX,10.50x10.70,0.39,54.55%,119.940,NaN,53500.0,10.50,10.70,True,Call
395,8:45:55,18 MAR 22 150 C,50,10.70,BOX,10.50x10.70,0.39,54.55%,119.940,NaN,53500.0,10.50,10.70,True,Call
396,8:45:35,18 MAR 22 150 C,50,10.47,PHLX,10.45x10.50,0.38,53.88%,119.940,NaN,52350.0,10.45,10.50,True,Call

In [101]:
# Sum up the monetary value of all the puts buying

df1 = df[df["Type"].str.contains("Call")==False]
df1

,Time,Option,Qty,Price,Exchange,Market,Delta,IV,Underlying,Condition,value,Bid,Ask,Trade away from Bid,Type
1,11:14:17,17 SEP 21 80 P,650,0.33,AMEX,.28x.33,-0.03,88.17%,116.955,NaN,21450.0,0.28,0.33,True,Put
2,9:36:12,3 SEP 21 95 P,625,0.59,NYSE,.50x.59,-0.07,101.79%,117.570,Spread,36875.0,0.50,0.59,True,Put
3,9:36:12,3 SEP 21 110 P,625,2.91,NYSE,2.74x2.94,-0.28,87.84%,117.570,Spread,181875.0,2.74,2.94,True,Put
5,13:44:29,27 AUG 21 105 P,490,1.74,BEST,1.70x1.74,-0.21,217.34%,114.380,Spread,85260.0,1.70,1.74,True,Put
7,9:36:12,3 SEP 21 115 P,400,4.90,NYSE,4.55x4.85,-0.41,87.57%,117.570,Spread,196000.0,4.55,4.85,True,Put
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377,13:48:56,21 JAN 22 70 P,50,1.90,NASDAQ,1.88x1.90,-0.08,64.73%,114.410,NaN,9500.0,1.88,1.90,True,Put
380,12:41:53,21 JAN 22 100 P,50,9.11,PHLX,9.00x9.15,-0.28,59.56%,114.980,NaN,45550.0,9.00,9.15,True,Put
383,11:08:38,15 OCT 21 80 P,50,0.81,NYSE,.79x.81,-0.06,71.39%,117.160,NaN,4050.0,0.79,0.81,True,Put
385,10:49:58,17 SEP 21 110 P,50,4.50,NASDAQ,4.35x4.50,-0.32,67.64%,116.840,NaN,22500.0,4.35,4.50,True,Put
393,9:00:02,15 OCT 21 80 P,50,0.73,BEST,.67x.78,-0.05,70.68%,118.090,NaN,3650.0,0.67,0.78,True,Put

In [102]:
df1['value'].sum()

3762721.0

In [103]:
# Sum up the monetary value of all the call buying 

df2 = df[df["Type"].str.contains("Put")==False]
df2['value'].sum()

5411323.0

In [88]:
df.to_csv(r'C:\Users\Luke\Desktop\random\testing.csv')